<div class="p-grid">
    <form class="form-inline" [formGroup]="form" (ngSubmit)="onSubmit()">
        <ng-container *ngFor="let key of formKeys">

            <div class="p-col-2">
                <label [for]="key">{{formModel[key].label}}</label>
            </div>

            <div class="p-sm-10 p-md-10 p-lg-4 p-xl-4">

                <multitype-field [formModel]="formModel" [formGroup]="form" [key]="key" (dropdownEdited)="updateDropdowns()"></multitype-field>

            </div>

        </ng-container>

        <!-- <div class="p-col-12">
            <div class="p-grid p-justify-center">
                <div class="p-col-2">
                    <button type="submit" class="btn btn-primary width-200">Submit</button>
                </div>
            </div>
        </div> -->

    </form>
</div>