@import "../styles.css";

:host ::ng-deep .ui-tabview-panel{
    border-width: 1px;
}

:host ::ng-deep .ui-tree{
    width:auto !important;
}

.tree-button-container{
    padding-top:1em !important;
    text-align: center;
}

.header{
    background-color: #555555;
    text-align: center;
    }
    .header h4{
        color:white;
        margin-top:0.5em;
    }

