<div class="p-grid">

  <div class="p-col-2 header">
    <h4>MGD Mod Maker</h4>
  </div>
  <div class="p-col-10 header">

  </div>

  <div class="p-col-2">

    <div class="p-grid">

      <div class="p-col tree-button-container">
        <div class="p-grid">
          <div class="p-col">
            <button type="button" icon="fa fa-plus" class="w-auto" label="Add" (click)="showAddDialog()"
              pButton></button>
          </div>
          <div class="p-col"><button type="button" icon="fa fa-minus" class="w-auto" label="Delete"
              (click)="showDeleteDialog()" [disabled]="mod.filesLabels.length === 0" pButton></button></div>
          <div class="p-col"><button type="button" class="w-auto" label="Export" (click)="exportFiles()"
              [disabled]="mod.filesLabels.length === 0" pButton></button></div>


        </div>
      </div>

      <div class="p-col-12">
        <p-tree class="w-auto" [value]="mod.files" selectionMode="single" (onNodeSelect)="fileSelected($event)">
        </p-tree>
      </div>

    </div>

  </div>

  <div class="p-col-10">
    <div style="margin-top:25%;margin-left:25%" *ngIf="!openTabs || openTabs.length === 0">
      <h5>You have no mod file open, click on a mod file from the tree view or create one</h5>
    </div>
    <p-tabView *ngIf="openTabs && openTabs.length > 0" (onClose)="closeTab($event)">

      <ng-container *ngFor="let tab of openTabs;let i = index">
        <p-tabPanel [header]="tab.header" [selected]="i == 0" [closable]="true">
          <regular-form [formModel]="tab.file.data"></regular-form>
        </p-tabPanel>
      </ng-container>

    </p-tabView>
  </div>

</div>

<p-dialog header="New File" [(visible)]="addDisplay" [contentStyle]="{'width':'500px', 'min-height':'350px'}"
  modal="true">

  <div class="p-grid">

    <div class="p-col-3">
      <label>Type:
      </label>
    </div>
    <div class="p-col-9">
      <p-dropdown #fdd class="w-auto" [options]="newFileOptions" [(ngModel)]="selectedFileOption"></p-dropdown>
    </div>
    <div class="p-col-3">
      <label>SubType:
      </label>
    </div>
    <div class="p-col-9">
      <single-multitype-field [field]="getField()" (selectedValueEvent)="getSelectedSubType($event)">
      </single-multitype-field>
    </div>
    <div class="p-col-3">
      <label>Is EnemySkill:
      </label>
    </div>
    <div class="p-col-9">
      <p-checkbox [(ngModel)]="isEnemySkill" binary="true" [disabled]="isEnemySkillDisabled()"></p-checkbox>
    </div>
    <div class="p-col-3">
      <label>Name:
      </label>
    </div>
    <div class="p-col-9">
      <input type="text" class="w-auto" pInputText [(ngModel)]="newFileName" />
    </div>

  </div>

  <p-footer>
    <button type="button" class="margin-left-20" label="Create" (click)="createFile(fdd)" pButton></button>
  </p-footer>

</p-dialog>

<p-dialog header="Delete File" [(visible)]="deleteDisplay" [contentStyle]="{'width':'500px', 'min-height':'150px'}"
  modal="true">

  <div class="p-grid">

    <div class="p-col-2">
      <label>Files:
      </label>
    </div>
    <div class="p-col-10">
      <p-listbox #flb [options]="fileOptions" dataKey="label" [(ngModel)]="selectedFileOptions" multiple="multiple"
        checkbox="checkbox" filter="filter"></p-listbox>
    </div>

  </div>

  <p-footer>
    <button type="button" class="margin-left-20" label="Delete" (click)="deleteFiles(flb)" pButton></button>
  </p-footer>

</p-dialog>

<router-outlet></router-outlet>