<div class="p-grid">
  <div class="p-col-12">
    <p-tabView>
      <p-tabPanel header="Skill">

        <div class="p-grid">
          <form class="form-inline" [formGroup]="skillForm" (ngSubmit)="onSubmit()">
            <ng-container *ngFor="let key of skillKeys">
              <div class="p-col-2">
                <label [for]="key">{{skillModel[key].label}}</label>
              </div>
              <div class="p-col-10">
                <input *ngIf="skillModel[key].type === FieldType.Text" type="text" [formControlName]="key" pInputText size="100" />
                <p-spinner *ngIf="skillModel[key].type === FieldType.Numeral" [formControlName]="key"></p-spinner>
                <p-multiSelect *ngIf="skillModel[key].type === FieldType.Array" [options]="skillModel[key].options" [formControlName]="key"></p-multiSelect>
              </div>
            </ng-container>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

      </p-tabPanel>

      <p-tabPanel header="Monster">



      </p-tabPanel>

    </p-tabView>
  </div>
</div>


<router-outlet></router-outlet>