<div class="p-grid">

  <div class="p-col-2 header">
    <h3>MGD Mod Maker</h3>
  </div>
  <div class="p-col-10 header">

  </div>

  <div class="p-col-2">

    <div class="p-grid">

      <div class="p-col tree-button-container">
        <button type="button" icon="fa fa-plus" class="margin-left-20" label="Add" (click)="showDialog()"
          pButton></button>
      </div>

      <div class="p-col-12">
        <p-tree [value]="mod.files" selectionMode="single" (onNodeSelect)="fileSelected($event)"></p-tree>
      </div>

    </div>

  </div>

  <div class="p-col-10">
    <p-tabView (onClose)="closeTab($event)">

      <ng-container *ngFor="let tab of openTabs;let i = index">
        <p-tabPanel [header]="tab.header" [selected]="i == 0" [closable]="true" >
          <regular-form [formModel]="tab.file.data"></regular-form>
        </p-tabPanel>
      </ng-container>

    </p-tabView>
  </div>

</div>

<p-dialog header="New File" [(visible)]="display" [contentStyle]="{'width':'500px', 'min-height':'150px'}" modal="true">

  <div class="p-grid">

    <div class="p-col-2">
      <label>Type:
      </label>
    </div>
    <div class="p-col-10">
      <p-dropdown #fdd class="w-auto" [options]="newFileOptions"></p-dropdown>
    </div>
    <div class="p-col-2">
      <label>Name:
      </label>
    </div>
    <div class="p-col-10">
      <input type="text" class="w-auto" pInputText [(ngModel)]="newFileName" />
    </div>

  </div>

  <p-footer>
    <button type="button" class="margin-left-20" label="Create" (click)="createFile(fdd)" pButton></button>
  </p-footer>
</p-dialog>

<router-outlet></router-outlet>